.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 0 16px 33px 16px;
    letter-spacing: 0em;
    position: relative;
  }
  
  @media (min-width: 768px) {
    .cover__subtitle {
     padding: 0px 204px 115px 204px;
     font-size: 18px;
     line-height: 22px;
     max-width: 390px;
    }
  }
  
  @media (min-width: 1024px) {
    .cover__subtitle {
     padding: 0px 332px 195px 332px;
    }
  }
  
  @media (min-width: 1280px) {
    .cover__subtitle {
     padding: 0px 412px 245px 412px;
    }
  }
  