.footer__link {
    padding-bottom: 32px; 
  }
  
  @media (min-width: 768px) {
    .footer__link {
      min-width: 768px;
      display: inline;
      padding-right: 18px;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 16px;
      padding: 0;
    }
  }
  
  .footer__link:last-of-type {
    padding-bottom: 0;
  }
  