.lead__title {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
  }

  @media (min-width: 768px) {
    .lead__title {
      margin-bottom: 32px;
      font-size: 96px;
      font-weight: 900;
      line-height: 100px;
      padding-right: 24px;
      padding-left: 24px;
  }
    }

    @media (min-width: 1024px) {
      .lead__title { 
        padding-right: 152px;
        padding-left: 152px;   
    }
      }
     
      @media (min-width: 1280px) {
        .lead__title { 
          line-height: 100px;
          padding-right: 280px;
          padding-left: 280px;   
      }
        }