.footer__links {
    padding-bottom: 32px;
    color: #ffffff;
  }
  
  .footer__links:last-of-type {
    padding-bottom: 48px;
  }

  @media (min-width: 768px) {
    .footer__links {
      align-items: flex-end;
      padding-bottom: 0;
    }
  }

  @media (min-width: 768px) {
      .footer__links:last-of-type {
          padding-bottom: 0;
      }
  }