.place {
    display: grid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 49px;
  }
  
  .place:last-of-type {
    padding-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .place {
      min-width: 720px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(min-content, max-content));
      padding-bottom: 73px;
      gap: 28px;
    }
  }
  
  @media (min-width: 1024px) {
    .place {
      min-width: 928px;
      padding-bottom: 80px;
      gap: 32px;
    }
  }
  
  @media (min-width: 1280px) {
    .place {
      min-width: 984px;
      gap: 40px;
    }
  }