.lead__illustration {
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    margin: 0 auto;
  }
  
  @media (min-width: 1024px) {
    .lead__illustration { 
      width: 928px;   
  }
    }

    @media (min-width: 1280px) {
      .lead__illustration { 
        width: 984px;
    }
      }